nav{
    background-color: #F8F32B;
    overflow: hidden;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    float: left;
    font-size: 17px;
    transition: all 200ms;
}

nav a:hover{
    background-color: black;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2B2D42;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

#content{
    margin: 40px;
    width: 50vw;
    position: relative;
    left: 20%;
}

form{
    background-color: #8D99AE;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    overflow: hidden;
}

h1{
    text-align: center;
}

input{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px; 
}

a{
    color: #F8F32B
}